
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes by default for simplicity.
    // In a production app, you should secure your data.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
